<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image" href="../images/ghostfashion-logo.png" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/home.css" />
    <title>Ghost Fashion - India</title>
  </head>
  <body>
    {{username}}
    <nav>
      <div class="top-nav">
        <div id="logo" class="logo">
          <a title="Home" class="logo-click" href="#">
            <div class="go-home">
              <div class="logo-img-div">
                <img
                  class="logo-img"
                  src="../images/ghostfashion-logo.png"
                  alt=""
                />
              </div>
              <div class="ghost">
                <h1 class="ghost-heading">Ghost Fashion</h1>
              </div>
            </div>
          </a>
        </div>
        <div class="pages">
          <div class="search">
            <a title="Search" href="#">
              <img
                class="pages-img"
                src="../images/icons/search.png"
                alt="login-here"
              />
            </a>
          </div>
          <div class="login">
            <a title="Login" href="/login">
              <img
                class="pages-img"
                src="../images/icons/user.png"
                alt="login-here"
              />
            </a>
          </div>
          <div class="whishlist">
            <a title="Wishlist" href="#">
              <img
                class="pages-img"
                src="../images/icons/heart.png"
                alt="login-here"
              />
            </a>
          </div>
          <div class="cart">
            <a title="Your Cart" href="#">
              <img
                class="pages-img"
                src="../images/icons/cart.png"
                alt="login-here"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="bottom-nav">
        <a class="category" href="#">home</a>
        <a class="category" href="#">ghostees</a>
        <a class="category" href="#">ghost hoodies</a>
        <a class="category" href="#">ghosty pants</a>
        <a class="category" href="#">about us</a>
        <a class="category" href="#">customer support</a>
        <a class="category" href="#">track order</a>
      </div>
    </nav>

    <!-- empty gap box -->
    <div class="gap-box"></div>

    <!-- hero section container  -->
    <div class="container">
      <h1 class="hero-slogan">reveal the ghost inside you</h1>
    </div>

    <!-- empty gap box -->
    <div class="gap-box-two"></div>

    <main>
      <div class="products-display">


        {{!-- oversized hoodies  --}}
        <div class="product-category">
          <h1 class="category-title">oversized ghost hoodies</h1>
          <div class="all-products">
            <div class="product-box">
              <div class="product-img-box">
                <a href="#">
                  <img
                    class="product-img"
                    src="../images/oversize-hoodie.jpg"
                    alt="product-image"
                  />
                </a>
                <h4 class="tags">best seller</h4>
                <a href="#">
                  <div class="whishlist-btn">
                    <img
                      class="add-whishlist"
                      src="../images/icons/add-whishlist.png"
                      alt=""
                    />
                  </div>
                </a>
              </div>
              <div class="product-info-box">
                <h3 class="product-name">beige ghost hoodie</h3>
                <div class="price">
                  <h2 class="product-price">rs.1249.00</h2>
                  <h4 class="actual-product-price">rs.1999.00</h4>
                </div>
                <div class="add-to-cart">
                  <a href="">
                    <p class="cart-btn">add to cart</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        {{!-- oversized t-shirt  --}}
        <div class="product-category">
          <h1 class="category-title">oversized ghostees</h1>
          <div class="all-products">
            <div class="product-box">
              <div class="product-img-box">
                <a href="#">
                  <img
                    class="product-img"
                    src="../images/oversize-hoodie.jpg"
                    alt="product-image"
                  />
                </a>
                <h4 class="tags">best seller</h4>
                <a href="#">
                  <div class="whishlist-btn">
                    <img
                      class="add-whishlist"
                      src="../images/icons/add-whishlist.png"
                      alt=""
                    />
                  </div>
                </a>
              </div>
              <div class="product-info-box">
                <h3 class="product-name">beige ghost hoodie</h3>
                <div class="price">
                  <h2 class="product-price">rs.1249.00</h2>
                  <h4 class="actual-product-price">rs.1999.00</h4>
                </div>
                <div class="add-to-cart">
                  <a href="">
                    <p class="cart-btn">add to cart</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        {{!-- oversized pants  --}}
        <div class="product-category">
          <h1 class="category-title">ghosty pants</h1>
          <div class="all-products">
            <div class="product-box">
              <div class="product-img-box">
                <a href="#">
                  <img
                    class="product-img"
                    src="../images/oversize-hoodie.jpg"
                    alt="product-image"
                  />
                </a>
                <h4 class="tags">best seller</h4>
                <a href="#">
                  <div class="whishlist-btn">
                    <img
                      class="add-whishlist"
                      src="../images/icons/add-whishlist.png"
                      alt=""
                    />
                  </div>
                </a>
              </div>
              <div class="product-info-box">
                <h3 class="product-name">beige ghost hoodie</h3>
                <div class="price">
                  <h2 class="product-price">rs.1249.00</h2>
                  <h4 class="actual-product-price">rs.1999.00</h4>
                </div>
                <div class="add-to-cart">
                  <a href="">
                    <p class="cart-btn">add to cart</p>
                  </a>
                </div>
              </div>
            </div>
        </div>
      </div>
    </main>

    <!-- empty gap box -->
    <div class="gap-box-two"></div>
          
    <div class="newsletter-box">
      <h2 class="newsletter-heading">
        subscribe to our newsletter for updates
      </h2>
      <form action="">
        <div class="newsletter-form-box">
          <div class="newsletter-inp-box">
            <input
                type="email"
                name="newsletter-email"
                id="newsletter-inp"
                placeholder="enter your email"
                required
              />
          </div>
          <div class="btn-div">
            <button   class="newsletter-btn-box" type="submit">
              <h4 class="btn-name">subscribe</h4>
              <img class="right-arrow" src="/images/icons/right-arrow-white.png" alt="" />
            </button>
          </div>
        </div>
      </form>
    </div>

    <!-- empty gap box -->
    <div class="gap-box"></div>
    {{!-- <div class="gap-box"></div> --}}

    {{!-- footer starts here  --}}
    <footer>
      <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis, laudantium!</h1>
    </footer>


    <!-- temporary code  -->
    <div class="okbro"></div>
    <p class="hi f1">font - apercu-bold</p>
    <p class="hi f2">font - apercu-light</p>
    <p class="hi f3">font - apercu-medium</p>
    <p class="hi f4">font - apercu-regular</p>
    <p class="hi f5">font - BatGhost Promo codes</p>
    <p class="hi f6">font - Ghastly</p>

    <!-- fixed button div for positioning  -->
    <div class="fix-it">
      <!-- go to top button  -->
      <div class="go-to-top">
        <a href="#logo">
          <img
            class="arrow-up-img"
            src="../images/icons/up-arrow.png"
            alt=""
          />
        </a>
      </div>
      <!-- contact whatsapp fixed button  -->
      <div class="whatsapp-contact">
        <a href="#">
          <img
            class="whatsapp-img"
            src="../images/icons/whatsapp.png"
            alt="whatsapp"
          />
        </a>
      </div>
    </div>

    <script src="/js/home.js"></script>
  </body>
</html>